body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url(stars.gif);
}

.title {
  display: block;
  margin: 0 auto;
  width: 500px;
  color: red;
}

.content {
  display: block;
  width: 500px;
  color: blue;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  border-top: 3px dashed #ff008d;
}

.hi {
  width: 100%;
  height: auto;
}

li {
  list-style-image: url(bullet.gif);
}

.eevee {
  height: 87px;
  background-image: url(eevee.gif);
  width: 500px;
  margin: 0 auto;
}

/* really cool */

.blink {
    -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
    animation: 1s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.rainbow, .rainbow a {
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}