<div class="characters-wrapper">
  <div class="image"></div>
  <div class="title"></div>
  <div class="description-wrapper">
    <div class="description">

    </div>
  </div>
  <div class="moreinfo">
    <span>More Information</span>
  </div>
  <div class="overlay"><span>Tap to Close</span></div>

  <div class="arrow-left"></div>
  <div class="arrow-right"></div>

  <div class="splash"></div>

  <div class="back dark viewchange" data-view="mainmenu" data-transition="fade"></div>
</div>

<script>
  num = 0;
  loadCharacter();
</script>
