<div class="mainmenu-wrapper">
  <div class="inkblobs"> </div>

  <!-- main links -->
  <div class="home-navigation">
    <div class="home-button wasteland viewchange" data-view="map" data-transition="fade">
      <div class="text"></div>
    </div>

    <div class="home-button characters viewchange" data-view="characters" data-transition="fade">
      <div class="text"></div>
    </div>

    <div class="home-button digi viewchange" data-view="digicomics" data-transition="fade">
      <div class="text"></div>
    </div>

    <div class="home-button videos viewchange" data-view="videos" data-transition="fade">
      <div class="text"></div>
    </div>
  </div>
</div>
